@import "tailwindcss";


@theme {
  --color-sunset: #FF6B35;  
  --color-sand:   #F7C59F;  
  --color-linen:  #EFEFD0; 
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}